body {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  height: 90%;
  width: 70%;
  flex-direction: column;
  background-color: yellow;
  padding: 40px;
  margin: 70px;
  border-radius: 7px;
}

#quote-container {
  margin: 30px;
  width: 900px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border-radius: 10px;
}

#quote-text {
  color: white;
  font-size: 16px;
  padding: 10px;
}
#quote-button {
  height: 50px;
  width: 250px;
  border-radius: 10px;
  background-color: grey;
}
#extender-container {
  margin-left: 30px;
  margin-top: 10px;
  width: 900px;
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border-radius: 10px;
  color: white;
}
