body {
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  height: 100%;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 40px;
  margin: 70px;
  border-radius: 7px;
}
h1 {
  font-size: 2.4 em;
}
p {
  font-size: 1.2em;
}

#quote-container {
  margin: 30px;
  width: 900px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

#quote-text {
  color: white;
  font-size: 16px;
  padding: 10px;
}
#quote-button {
  height: 100px;
  font-size: 16px;
  width: 200px;
  background-color: green;
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
}
#extender-container {
  margin-left: 70px;
  margin-top: 10px;
  width: 900px;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border-radius: 10px;
  color: white;
}

#delete-button {
  height: 30px;
  width: 100px;
  color: black;
  background-color: green;
  border: 0;
  border-radius: 10px;
}
